{% extends "_base.html" %}

{% block title %}Jokes{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Jokes</h2>
        <a class="btn btn-success btn-sm" href="{% url 'jokes:create' %}">
            + New Joke
        </a>
    </div>
    
    <ul class="list-group list-group-flush mb-3">
        {% for joke in joke_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ joke.get_absolute_url }}">
                    {{ joke.question }}
                </a>
                <a href="{% url 'jokes:update' joke.pk %}" class="btn btn-info btn-sm">
                    Update
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}